<!-- Config file for the game -->

<config>
	
	<window>
		<fullscreen> false </>        
		<borderless> false </>
         	<resizable>  false </>
         	<fulscreen_Widowed> false </>
         	<screen_Width> 640 </>
         	<screen_Height> 480 </>
		<scale> 1 </>
		<name>My super awesome game with XML </name>
        </window>

	<fs>
		<organization> My Awesome Studio </>
		<appname> My cool game </>
	</fs>
</config>